.programlisting {
    font-family: "Lucida Console", "Consolas", monospace ;
    font-size: 1em ;
    display: block ;
    padding: 10px ;
    border: 1px solid #bbb ;
    background-color: #eee ;
    /*
    background-color: #ffffaa ;
    */
    color: #000 ;   
    overflow: auto ;
    border-radius: 2.5px ;
    -moz-border-radius: 2.5px ;
    margin: 0.5em 5em ;
}

.varname {
        font-family: "Lucida Console", "Consolas", monospace ;
	font-weight: bold ;
        /*font-size: larger ;*/
	color: #000 ; 
}

.filename {
	font-family: monospace ;
	font-weight: bold ;
    font-size: larger ;
	color: #000 ; 
}

.literallayout {
	font-family: monospace ;
	font-weight: bold ;
    font-size: larger ;
	color: #000 ; 
}

.screen {
    font-family: "Lucida Console", "Consolas", monospace ;
    font-size: larger ;
    background-color: #eee ; 
    color: #007 ;
    margin: 0.5em 5em ;
    padding: 10px ;
    /*
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    */
    border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    
}

.synopsis {
	font-family: monospace ;
    font-size: larger ;
    background-color: #111 ;
    /*color: #ff0 ;   */
    color: #fff ;   
    margin: 0.5em 5em ;
    padding: 10px ;
    border-radius: 10.0px;
    -moz-border-radius: 10.0px;
}

.warning {
    margin: 0.5em 5em ;
    padding: 10px ;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #ffdddd ;
}

.important {
    margin: 0.5em 5em ;
    padding: 10px ;
    /*
    border-left: 10px solid #88f;
    */
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #ddddff ;
}

.figure {
    display: block;
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0em 0em;
}

a { 
    text-decoration: none;
    border-bottom: 1px dotted #000; 
}

a:hover {
    background-color: #777;
    color: #fff; 
}

h1 {
	font-family: sans-serif;
	/*font-weight: bold;*/
        font-size: 300% ;
	color: #000 ; 
}

div[class=titlepage] h1 {
	font-family: sans-serif;
	/*font-weight: bold;*/
        font-size: 300% ;
	color: #000 ; 
}

div[class=chapter] h2 {
	font-family: sans-serif;
	/*font-weight: bold;*/
        font-size: 250% ;
	color: #000 ; 
}

div[class=sect1] h2 {
	font-family: sans-serif;
	/*font-weight: bold;*/
        font-size: 150% ;
	color: #000 ; 
}

div[class=sect2] h3 {
	font-family: sans-serif;
	/*font-weight: bold;*/
        font-size: 100% ;
	color: #000 ; 
}

